#main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.4rem;
  gap: 1.2rem
}

.search-input-wrapper {
  width: 600px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  gap: .8rem;
  border: 1px solid #E4DFDF;
  border-radius: 999em;
}

.search-logo, .mic-logo {
  width: 2rem;
  aspect-ratio: 4/4;
}

.search-input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

.other-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #20212B;
  margin-top: 1.2rem;
}

.other-buttons > div {
  background-color: #F8F9FA;
  padding: 1rem;
}
